# Project exclude paths
/common/target/
.idea
*.iml
/*/target
/*/*/test
/*/.mvn



eureka_client/.gitignore
eureka_client/mvnw
eureka_client/mvnw.cmd

eureka_security_server/.gitignore
eureka_security_server/mvnw
eureka_security_server/mvnw.cmd


eureka_server/.gitignore
eureka_server/mvnw
eureka_server/mvnw.cmd




ribbon_service/.gitignore
ribbon_service/mvnw
ribbon_service/mvnw.cmd
user_service/.gitignore
user_service/mvnw
user_service/mvnw.cmd


